<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
        version="3.1">
    <display-name>WebApp</display-name>
    <filter>
        <filter-name>JsonRequestFilter</filter-name>
        <filter-class>com.qquique.jamm.api.filter.JsonRequestFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>JsonRequestFilter</filter-name>
        <url-pattern>/api/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>GlobalExceptionFilter</filter-name>
        <filter-class>com.qquique.jamm.api.filter.GlobalExceptionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>GlobalExceptionFilter</filter-name>
        <url-pattern>/api/*</url-pattern>
    </filter-mapping>
</web-app>
